PORT=5000
machine_identity_client_id=xxxxxxxxxxxx
machine_identity_client_secret=xxxxxxxxxxxxxxxxxxxxxxxx
PROJECT_ID=xxxxxxxxxxxxxxxxxxxx

# https://unstop.com/api/public/opportunity/search-result?opportunity=internships&page=2&per_page=20&roles=web-development&usertype=fresher&oppstatus=open&sortBy=&orderBy=&filter_condition=&undefined=true


